<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successfull</title>
</head>
<body>
    <div>
        <h1>Payment Successfull</h1>
    </div>
</body>
<style>
    div {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }
    h1 {
        font-weight: 200;
    }
</style>
<script>
    setTimeout(() => {
        window.location.href = '/';
    }, 3000);
</script>
</html>